.
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.4.0/en_core_web_md-3.4.0-py3-none-any.whl
flake8==4.0.1
mypy==1.0.0
mypy-extensions==0.4.3
types-aiofiles==0.8.3
types-PyYAML==6.0.3
types-setuptools==57.4.10
