Django==3.2.12
django-dbbackup==3.3.0
django-storages[boto3]==1.12.3
django-cron==0.5.1
medcat==1.1.1
urllib3==1.26.5
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.4.0/en_core_sci_md-0.4.0.tar.gz
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.4.0/en_core_sci_lg-0.4.0.tar.gz