sphinx==6.2.1
sphinx-rtd-theme~=1.0
myst-parser~=0.17
sphinx-autoapi~=3.0.0
MarkupSafe==2.1.3
accelerate==0.23.0
aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
asttokens==2.4.0
async-timeout==4.0.3
attrs==23.1.0
backcall==0.2.0
blis==0.7.11
catalogue==2.0.10
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
comm==0.1.4
confection==0.1.3
cymem==2.0.8
datasets==2.14.5
decorator==5.1.1
dill==0.3.7
exceptiongroup==1.1.3
executing==2.0.0
filelock==3.12.4
flake8==4.0.1
frozenlist==1.4.0
fsspec==2023.6.0
gensim==4.3.2
huggingface-hub==0.17.3
idna==3.4
ipython==8.16.1
ipywidgets==8.1.1
jedi==0.19.1
jinja2==3.1.2
joblib==1.3.2
jsonpickle==3.0.2
jupyterlab-widgets==3.0.9
langcodes==3.3.0
matplotlib-inline==0.1.6
mccabe==0.6.1
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
murmurhash==1.0.10
mypy==1.0.0
mypy-extensions==0.4.3
networkx==3.1
numpy==1.25.2
packaging==23.2
pandas==2.1.1
parso==0.8.3
pathy==0.10.2
pexpect==4.8.0
pickleshare==0.7.5
preshed==3.0.9
prompt-toolkit==3.0.39
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==13.0.0
pycodestyle==2.8.0
pydantic==1.10.13
pyflakes==2.4.0
pygments==2.16.1
python-dateutil==2.8.2
pytz==2023.3.post1
pyyaml==6.0.1
regex==2023.10.3
requests==2.31.0
safetensors==0.4.0
scikit-learn==1.3.1
scipy==1.9.3
six==1.16.0
smart-open==6.4.0
spacy==3.4.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stack-data==0.6.3
sympy==1.12
thinc==8.1.12
threadpoolctl==3.2.0
tokenizers==0.14.1
tomli==2.0.1
torch==2.1.0
tqdm==4.66.1
traitlets==5.11.2
transformers==4.34.0
triton==2.1.0
typer==0.7.0
types-PyYAML==6.0.3
types-aiofiles==0.8.3
types-setuptools==57.4.10
typing-extensions==4.8.0
tzdata==2023.3
urllib3==2.0.6
wasabi==0.10.1
wcwidth==0.2.8
widgetsnbextension==4.0.9
xxhash==3.4.1
yarl==1.9.2